div.about {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
}

div.about h2 {
  margin: 2rem;
}

img.perfil {
  width: 10rem;

  border: 2px solid transparent;
  border-image: linear-gradient(
    48deg,
    rgba(224, 255, 0, 1) 0%,
    rgba(225, 251, 3, 1) 30%,
    rgba(0, 14, 255, 1) 100%
  );
  border-image-slice: 1;

  padding: 0.25rem;
  margin-top: 2rem;
}

div.about p {
  font-size: 1.2rem;
  padding: 2rem 0;
}

@media (min-width: 600px) {
  img.perfil {
    width: 14rem;
    margin: 3rem 0;
  }

  div.about p {
    font-size: 1.35rem;
    padding: 2rem 4rem;
  }
}

@media (min-width: 1000px) {
  img.perfil {
    width: 12rem;
    margin: 2rem 0;
  }

  div.about p {
    padding: 2em 4em;
  }
}
