.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem 0;
}

.walk {
  margin: 1rem 0;
}

.walk {
  width: 24rem;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text .title {
  margin-bottom: 1rem;
}

.text .title h1 {
  margin-bottom: 1rem;
}

.text .title h1 span.name {
  color: var(--primary-color);
}

.text .title h1 span.hand {
  position: absolute;
  cursor: default;

  animation: handShake 3s 0.1s infinite ease-in-out alternate;
}

.text .title p {
  font-size: 1.25rem;
}

.buttons {
  width: 55%;
}

.buttons button {
  width: 100%;
  height: 3rem;

  background-color: var(--primary-color);

  font-family: "Roboto", Times, serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;

  border-width: 2px;
  border-color: transparent;
  border-radius: 20px;

  cursor: pointer;
  transition: .3s;
}

.buttons button:hover {
  background-color: transparent;
  border-width: 2px;
  border-color: var(--primary-color);

  color: var(--primary-color);
}

@keyframes handShake {
  0% {
    transform: rotate(330deg);
  }
  50% {
    transform: rotate(380deg);
  }
  100% {
    transform: rotate(330deg);
  }
}

@media (min-width: 600px) {

  .text {
    margin-top: 2rem;
  }
  
}

@media (min-width: 1000px) {

  .container-home {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .walk {
    width: 30em;
    margin: 2rem 0;
  }

  .text {
    flex-direction: column;
    text-align: left;
    margin-top: -2rem;
  }

  .text .title {
    margin-bottom: 1rem;
  }

  .text .title h1 {
    margin-bottom: 1rem;
  }

  .buttons {
    margin-right: auto;
    width: 50%;
  }

}
