.container-home {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.text {
    margin: 3.5rem 10rem 0 0;
    mix-blend-mode: exclusion;
}

.text h1 span {
    position: fixed;
    cursor: default;

    animation: handleShake 3s 0.1s infinite ease-in-out alternate;
}

.text .icons svg {
    text-decoration: none;

    margin: 3rem 1rem 0 0;
}

.image {
    touch-action: none; /* useSpring */
}

.image img {
    width: 30rem;
    height: auto;
    user-select: none; /* useSpring */
}

@keyframes handleShake {
    0% {
        transform: rotate(330deg);
    }
    50% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(330deg);
    }
}

@media (min-width: 1700px){

    .container-home {
        display: flex;
        justify-content: space-between;
        margin-top: 6rem;
    }

    .text {
        /* margin-bottom: 50rem; */
    }

    .text .icons svg {
        text-decoration: none;
    
        margin: 5rem 1rem 0 0;
        width: 70px;
        height: 70px;
    }
    
    .image {
        touch-action: none; /* useSpring */
    }
    
    .image img {
        width: 40rem;
        height: auto;
        user-select: none; /* useSpring */
    }

}

@media (max-width: 1100px){

    .text {
        margin: 3.5rem 5rem 0 0;
        mix-blend-mode: exclusion;
    }

    .image img {
        width: 25rem;
    }
}

@media (max-width: 430px){
    .container-home {
        flex-direction: column-reverse;
        margin-top: 4rem;

        justify-content: center;
    }

    .text {
        margin: 0;
    }

    .text h1 {
        margin-bottom: -3rem;
    }

    .text .icons svg {
        text-decoration: none;
    
        margin-top: 0.5rem;

        width: 26px;
        height: 26px;
    }
    
    .image {
        touch-action: none; /* useSpring */
    }
    
    .image img {
        width: 18rem;
        height: auto;
        user-select: none; /* useSpring */
    }

}