.container-home-all {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}

.image {
  margin: 3rem 0;
}

.image img {
  width: 18rem;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
}

.text .title {
  margin-bottom: 1rem;
}

.text .title h1 {
  margin-bottom: 1rem;
}

.text .title h1 span {
  position: fixed;
  cursor: default;

  animation: handleShake 3s 0.1s infinite ease-in-out alternate;
}

.text .icons svg {
  text-decoration: none;
  mix-blend-mode: exclusion;

  margin: 1rem 1rem 0 1rem;

  width: 35px;
  height: 35px;
}

.contact-button {
  position: relative;
}

@keyframes handleShake {
  0% {
    transform: rotate(330deg);
  }
  50% {
    transform: rotate(380deg);
  }
  100% {
    transform: rotate(330deg);
  }
}

@media (min-width: 600px) {
  .text {
    margin-top: 2rem;
  }

  .image img {
    width: 22rem;
    margin: 2rem 0;
  }
}

@media (min-width: 1000px) {
  .container-home-all {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .image {
    margin: 3rem 0;
  }

  .image img {
    width: 26vw;
    height: auto;
  }

  .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: -2rem;
  }

  .text .title {
    margin-bottom: 1rem;
  }

  .text .title h1 {
    margin-bottom: 1rem;
  }

  .text .icons svg {
    text-decoration: none;

    margin: 1rem 2rem 0 0;

    width: 35px;
    height: 35px;
  }
}
