.c {
  position: absolute;

  /* width: 28ch; */
  /* height: 25ch; */
  width: 14rem;
  height: 14rem;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: center;
}

.card h2 {
  transition: 0.35s;
}

.card {
  padding: 1.5rem 0;
  cursor: pointer;

  width: 14rem;
  height: 20rem;

  text-align-last: center;

  background-color: rgba(15, 15, 15, 0.908);
  border-radius: 50px;

  align-items: center;
  justify-content: center;
}
