.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 25rem;
    height: 14rem;

    border: ridge;
    border-color: transparent;
    border-left-width: 8px;
    border-left-color: var(--primary-color);

    margin: 2rem;

    transition: .3s;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
    z-index: -1;
}

.project-card p {
    margin: 0 1rem;
}

.project-card:hover {
    border-left-width: 20px;
}

.project-card:hover > .background-image {
    opacity: .4;
}

.project-techs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 50%;
}

@media (min-width: 1000px) {

    .project-card {
        width: 30rem;
        height: 15rem;
    }    

}