.project-card {
  display: flex;
  flex-direction: column;

  background-color: #26262e;

  border: none;
}

a.project-cards {
  text-decoration: none;
  cursor: pointer;
}

.text-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-card .text {
  margin: 1.25rem 1rem;
}

.text-card .text h2 {
  margin-bottom: 1rem;
}

.text-card .icons {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.text-card .icons i {
  margin: 1rem;
  border: none;
}

.text-card .icons i img {
  width: 3rem;
}

.project-card img#background {
  bottom: 0;
  position: absolute;
  width: -webkit-fill-available;
  z-index: 0;
}

.project-card .text-card {
  z-index: 1;
  background-color: #26262e;
}
