.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects h1 {
  margin: 2rem 0;
}

.swiper {
  background-color: #26262e;

  width: 70vw;
  height: 50vh;

  border-radius: 20px;
  margin-bottom: 4rem;
}

@media (min-width: 600px) {
  .swiper {
    background-color: #26262e;

    width: 70vw;
    height: 65vh;

    border-radius: 20px;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1000px) {
  .swiper {
    background-color: #26262e;

    width: 40vw;
    height: 65vh;

    border-radius: 20px;
    margin: 0;
  }
}
