.button-back {
  z-index: 1;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.button-back button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: aliceblue;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  background: transparent;
  border: none;
  cursor: pointer;

  transition: 0.5s;
}

.button-back button:hover {
  color: blue;
}
