.button {
    position: absolute;
    margin-top: 28rem;
}

.button button {
    width: 9rem;
    height: 3rem;
    border: none;

    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;

    background: blue;
    cursor: pointer;

    transition: 0.5s;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;

}

.button button:hover {
    background: transparent;

    transition: 0.5s;
}

@media (min-width: 1700px){
    .button {
        position: absolute;
        margin-top: 36rem;
    }
    
    .button button {
        width: 15rem;
        height: 5rem;
        border: none;
    
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 26px;
        color: white;
    
        background: blue;
        cursor: pointer;
    
        transition: 0.5s;
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
    
    }

    .button button img {
        width: 28px;
    }
}