header {
    width: 100vw;
    height: 11.5vh;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

header ul {
    justify-content: center;
    align-items: center;
    text-align: center;
}

header ul li {
    list-style-type: none;
    display: inline-block;

    margin: 0 4rem 0 4rem;
}

header ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;

    color: aliceblue;
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
    font-size: 16px;
}