:root {
  --primary-color: #6161f7;
  --secondary-color: #e4e4e6a6;
}

/* OVERFLOW BAR */
body {
  background-color: #03001e;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #e4e4e6a6; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

html {
  overflow-x: visible;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 2rem 2rem;
}

h1 {
  font-family: "Roboto", Times, serif;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: "Roboto", Times, serif;
  font-weight: 600;
  color: white;
}

h3 {
  font-family: "Roboto", Times, serif;
  font-weight: 400;
  color: white;
}

p {
  font-family: "Roboto", Times, serif;
  font-weight: 400;
  color: var(--secondary-color);
}
