* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; /* useSpring */
}

@font-face {
  font-family: 'Insanibc';
  src: url('./assets/Insanibc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}